<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Manager{% endblock %}</title>
    <link href="{{context}}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{context}}/css/screen.css" rel="stylesheet" type="text/css" />

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Todo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            {% if user %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.first_name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{context}}/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>

            {% else %}
            <div class="navbar-right">

                <form class="navbar-form" action="{{context}}/login" method="POST">
                    <div class="form-group">
                        <input name="email" type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input name="pass" type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    {{anti-forgery|safe}}
                </form>

            </div>
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>

    {% block header-content %}
    {% endblock %}

<div class="container" id="body-content">

    {% if success %}
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{success}}
    </div>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <hr>
        <p>&copy; Mark Glagola 2015</p>
    </footer>

</div> <!-- /container -->

<script src="{{context}}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{context}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>