{% extends "core/views/templates/base.html" %}

{% block header-content %}
<div class="section-color">
    <div class="jumbotron center-block">
        <div class="container">
            {% if user %}
            <h1>Welcome {{user.first_name}}</h1>
            {% if todos|empty? %}
            <p>You have no todos! WTF, why are you even here? Make a todo.</p>
            {% else %}
            <p>Below are your todos! Get to work.</p>
            {% endif %}
            {% else %}
            <h1>Welcome</h1>
            <p>Login or create an account. Start checking off your todo list!</p>
            {% endif %}
            <p><a class="btn btn-default btn-lg" href="https://github.com/mglagola" role="button">View on Github &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% if user %}
<form class="todo-form" action="/todo" method="POST">
    <h4 class="todo-form-item">Create Todo</h4>
    <input type="text" placeholder="Title" class="form-control todo-form-item" name="title" id="title">
    <textarea class="form-control todo-form-item" rows="3" id="description" name="description" placeholder="Description"></textarea>
    <button type="submit" class="btn btn-primary todo-form-item">Create</button>
    {{anti-forgery|safe}}
</form>

<div class="todos row">
    <h4>Todos</h4>
    {% for todo in todos %}
    <div class="todo-item col-md-6 col-sm-6 col-xs-12">
        <button class="delete-todo-item glyphicon glyphicon-remove" value="{{todo.id}}"></button>
        <h5>{{todo.title}}</h5>
        <p>{{todo.description}}</p>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="form-container">
    <form class="register-form row" role="form" action="{{context}}/register" method="POST">
        <h1>Create an account</h1>
        <p>and start creating your todo list.</p>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" name="firstname" id="firstname">
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" name="lastname" id="lastname">
        </div>
        <div class="form-group col-md-12">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="form-group col-md-12">
            <label for="pass1">Password:</label>
            <input type="password" class="form-control" name="pass1" id="pass1">
        </div>
        <div class="form-group col-md-12">
            <label for="pass2">Confirm Password:</label>
            <input type="password" class="form-control" name="pass2" id="pass2">
        </div>
        <button type="submit" class="btn btn-success">Sign up</button>
        {{anti-forgery|safe}}
    </form>
</div>
{% endif %}

{% endblock %}