body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

.register-form {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
}

.register-form button {
    min-width: 100px;
}

#body-content {
    max-width: 700px;
}

.todo-form {
    padding-left: 15px;
    padding-right: 15px;
}

.todo-form-item {
    margin-top: 10px;
}

.todo-form button {
    min-width: 80px;
}

.section-color {
    background: #4393B9;
}

.jumbotron {
    color: #ecf0f1;
    background: none;
    max-width: 700px;
    padding: 20px 0px 10px 0px !important;
}


.jumbotron h1 {
    color: #fff;
    text-align: left;
}

.form-container p {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 200;
}

.form-container h1 {
    text-align: left;
}

.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px;
}

footer hr {
    margin-top: 75px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.todos {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

.todo-item {
    height: 80px;
    padding: 10px;
}

.todo-item:hover {
    border-radius: 10px;
    background-color: #ecf0f1;
}

.delete-todo-item button {
    margin-top: 7px;
    float: right;
    color: #c0392b;
    outline: 0;
    border: 0;
    background: none;
}